<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="tests">

<listeners>
		<listener class-name="com.practise.apitestingframework.listeners.ExtentListeners"/>
</listeners>

<test name="Create Customer API Test">
    <classes>
      <class name="com.practise.apitestingframework.testcases.CreateCustomer"/>
    </classes>
 </test> <!-- Test -->
 
 <test name="Delete Customer API Test">
    <classes>
      <class name="com.practise.apitestingframework.testcases.DeleteCustomer"/>
    </classes>
 </test> <!-- Test -->
 
 
 
 
</suite> <!-- Suite -->
